#The configuration for python-lambda to upload the skill to AWS https://github.com/nficano/python-lambda

region: us-east-1

function_name: AlexaAIO
handler: AIOspeechlet.lambda_handler
description: Adventures in Odyssey Radio for Alexa
runtime: python3.6
#role: lambda_basic_execution

# S3 upload requires appropriate role with s3:PutObject permission
# (ex. basic_s3_upload), a destination bucket, and the key prefix
# bucket_name: 'example-bucket'
# s3_key_prefix: 'path/to/file/'

# if access key and secret are left blank, boto will use the credentials
# defined in the [default] section of ~/.aws/credentials.
aws_access_key_id: INSERT_ID_HERE
aws_secret_access_key: INSERT_ACCESS_KEY_HERE

# dist_directory: dist
timeout: 7
memory_size: 128
#

# Experimental Environment variables
environment_variables:
    env_1: foo
    env_2: baz

# Build options
build:
  source_directories: lib # a comma delimited list of directories in your project root that contains source to package.
